<div class="mayor-menor-container">
  <h2>Mayor o Menor</h2>

  <!-- Puntaje -->
  <p class="puntaje">Puntaje: {{ puntaje }}/{{maxRondas}}</p>

  <!-- Mostrar imagen de la carta actual -->
  <div class="carta-actual" *ngIf="cartaActual">
    <p>Carta Actual:</p>
    <img [src]="cartaActual.image" alt="Imagen de la carta actual" class="imagen-carta">
  </div>
  
  <!-- Botones de opción (mayor o menor) -->
   <!-- Botones de opción (mayor o menor) -->
   <div class="botones-opciones" *ngIf="!finDelJuego">
    <button class="opcion-btn" (click)="adivinar('mayor')" [disabled]="botonesDeshabilitados">Mayor</button>
    <button class="opcion-btn" (click)="adivinar('menor')" [disabled]="botonesDeshabilitados">Menor</button>
  </div>

  <!-- Mensaje de resultado con clase para la animación -->
  <div *ngIf="mensajeResultado" 
       [ngClass]="{'mensaje-correcto': esCorrecto, 'mensaje-incorrecto': !esCorrecto, 'mensaje-resultado': true}">
    {{ mensajeResultado }}
  </div>

  <!-- Mensaje final cuando termina el juego -->
  <div *ngIf="finDelJuego" class="mensaje-final">
    ¡Juego terminado! Puntaje final: {{ puntaje }}
  </div>

  <!-- Botón para reiniciar el juego -->
  <button *ngIf="finDelJuego" class="reiniciar-btn" (click)="reiniciarJuego()">Reiniciar Juego</button>
</div>
