<div class="quien-soy-container">
    <h1>Quién soy?</h1>
    
    <div class="datos-personales">
      <p><strong>Nombre y apellido:</strong> Tobias Galvez</p>
      <p><strong>Edad:</strong> 21 años</p>
      <p><strong>País:</strong> Argentina</p>
    </div>

        <!-- Imagen -->
        <div class="image-container"> 
            <img src="../../../assets/imagenes/imagen_del_alumno.jpg" alt="Foto de Tobias Galvez">
          </div>
  
    <div class="explicacion-juego">
      <h3>Explicación del juego propio</h3>
      <p>El juego va a consistir en un pasapalabra, en donde los participantes responden preguntas y adivinan palabras basadas en definiciones. Incluye una ronda especial llamada "rosco", 
        donde deben decir palabras que empiezan con cada letra del alfabeto según las definiciones dadas. Si no saben una respuesta, pueden decir "pasapalabra" para saltar la pregunta y 
        volver a ella más tarde. El objetivo es acumular la mayor cantidad de puntos posible respondiendo correctamente.</p>
    </div>
  

  </div>
  
