<form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nombre:</label>
      <input formControlName="nombre" />
      <div *ngIf="esCampoInvalido('nombre')" class="error-message">Este campo es obligatorio.</div>
    </div>
  
    <div>
      <label>Apellido:</label>
      <input formControlName="apellido" />
      <div *ngIf="esCampoInvalido('apellido')" class="error-message">Este campo es obligatorio.</div>
    </div>
  
    <div>
      <label>Edad:</label>
      <input type="number" formControlName="edad" />
      <div *ngIf="esCampoInvalido('edad')" class="error-message">
        <div *ngIf="encuestaForm.get('edad')?.errors?.['required']">Este campo es obligatorio.</div>
        <div *ngIf="encuestaForm.get('edad')?.errors?.['min']">Debes ser mayor de 18 años.</div>
        <div *ngIf="encuestaForm.get('edad')?.errors?.['max']">Debes ser menor de 99 años.</div>
      </div>
    </div>
  
    <div>
      <label>Número de teléfono:</label>
      <input formControlName="telefono" />
      <div *ngIf="esCampoInvalido('telefono')" class="error-message">
        <div *ngIf="encuestaForm.get('telefono')?.errors?.['required']">Este campo es obligatorio.</div>
        <div *ngIf="encuestaForm.get('telefono')?.errors?.['pattern']">Debes ingresar un número de teléfono válido (10 dígitos).</div>
      </div>
    </div>
  
   

<div>
  <label>¿Cuál es tu juego favorito de la página?</label>
  <div>
    <label><input type="radio" formControlName="pregunta1" value="ahorcado" /> Ahorcado</label>
    <label><input type="radio" formControlName="pregunta1" value="mayorMenor" /> Mayor o Menor</label>
    <label><input type="radio" formControlName="pregunta1" value="preguntados" /> Preguntados</label>
    <label><input type="radio" formControlName="pregunta1" value="pasapalabra" /> Pasapalabra</label>
  </div>
  <div *ngIf="esCampoInvalido('pregunta1')" class="error-message">Este campo es obligatorio.</div>
</div>

<div formGroupName="pregunta2">
  <label>¿Qué mejoras te gustaría ver en el futuro?</label>
  <div>
    <label><input type="checkbox" formControlName="masJuegos" /> Más juegos</label>
    <label><input type="checkbox" formControlName="mejorDiseño" /> Mejor diseño</label>
    <label><input type="checkbox" formControlName="mayorDificultad" /> Mayor dificultad</label>
  </div>
</div>
  
    <div>
      <label>Comentario adicional</label>
      <input formControlName="pregunta3" />
      <div *ngIf="esCampoInvalido('pregunta3')" class="error-message">Este campo es obligatorio.</div>
    </div>
  
   <!-- Mensaje de éxito -->
   <div *ngIf="encuestaEnviada" class="success-message">
    Encuesta enviada exitosamente.
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="mostrarError" class="error-message">
    Por favor, completa todos los campos obligatorios antes de enviar.
  </div>

  <!-- Resto del formulario -->
  <button type="submit" >Enviar Encuesta</button>
</form>
 
  