.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .mensajes {
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px;
    color: #333;
  }
  
  .mensaje {
    margin-bottom: 10px;
    color: #333;
  }
  
  .hora {
    font-size: 0.8em;
    color: #333;
    float: right;
  }
  
  .input-container {
    display: flex;
    margin-top: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  