/* Estilos para los botones de navegación */

nav {
  display: flex;
  justify-content: flex-end; /* Alinea los botones hacia la derecha */
  margin: 20px 0;
}

/* Estilos para los botones */
button {
  background-color: #000000; /* Color de fondo azul */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de la fuente */
  // font-family: 'Courier New', monospace; /* Tipografía */
  transition: background-color 0.3s, transform 0.3s; /* Transición suave para color y movimiento */
  margin-left: 10px; /* Espaciado entre los botones */
  
  &:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  }

  &:active {
    background-color: #003d7a; /* Color más oscuro al hacer clic */
  }

  &:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado */
  }
}

/* Estilos para el botón activo */
.active-route {
  background-color: #0056b3; /* Color diferente para la ruta activa */
  font-weight: bold; /* Destacar el texto de la ruta activa */
  border: 2px solid white; /* Un borde que destaque la ruta activa */
}
