.container {
  background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.rosco-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px auto;

  .letra {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    // Posicionar las letras en círculo
    @for $i from 0 through 26 {
      &:nth-child(#{$i + 1}) {
        $angle: calc(360deg / 27) * $i;
        transform: rotate($angle) translate(120px) rotate(-$angle);
      }
    }

    &.sin-respuesta {
      background-color: yellow;
    }

    &.correcto {
      background-color: green;
    }

    &.incorrecto {
      background-color: red;
    }

    &.pendiente {
      background-color: gray;
    }
  }
}

.pregunta {
  text-align: center;
}

input {
  margin: 10px 0;
}


.temporizador {
  text-align: center;
  margin-top: 20px;

  .rectangulo {
    background-color: rgb(6, 6, 6);
    height: 20px;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho disponible dentro del contenedor */
    max-width: 600px; /* Añadido un valor máximo para controlar el desbordamiento */
    margin: 0 auto; /* Centra el rectángulo */
    transition: width 1s ease;
    border-radius: 0;
  }
}

  
  h2, h3, p {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }



  .puntuacion p
  {
    font-size: 1.5rem;
    color: #28a745;
    margin-top: 20px;
    font-weight: bold;
  }

  .mensaje-advertencia {
    color: red; /* Color rojo para el mensaje de advertencia */
    margin-top: 10px; /* Espacio superior */
    font-weight: bold; /* Hacer el texto negrita */
  }
  


  .boton-reiniciar {
    margin-top: 20px;
    
    button {
      background-color: #000000;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background-color: #000000;
      }
    }
  }


  // Estilo personalizado para el popup
.popup-clase-personalizada {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #333;
}

.popup-clase-personalizada .swal2-title {
  font-size: 2rem;
  color: #28a745;
}

.popup-clase-personalizada .swal2-confirm {
  background-color: #000;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}