

// Nuevos colores
$primary-color: #000000;
$secondary-color: #232323; // Para un fondo más neutro
$hover-color: darken($primary-color, 10%);
$border-radius: 12px; // Para un diseño más suave

*
{
  // font-family: 'Sans-serif', monospace; /* Tipografía */
  // font-family: "Sixtyfour Convergence", sans-serif;
  // font-optical-sizing: auto;
  // font-weight: 400;
  // font-style: normal;
  // font-variation-settings:
  //   "BLED" 0,
  //   "SCAN" 0,
  //   "XELA" 0,
  //   "YELA" 0;
  font-family: "Orbitron", sans-serif;
  // font-optical-sizing: auto;
}

// Estilos generales
body {
  // background-color: $secondary-color;
  // color: #e0e0e0;
  // font-family: 'Roboto', sans-serif; // Fuente moderna
  background-image: url('../src/assets/imagenes/Tienda\ de\ Pelargos\ _\ Redbubble.jpeg');  // Ruta de la imagen
  background-size: auto;  // Hace que la imagen cubra todo el fondo
  background-repeat: repeat;  // la imagen se repite
  background-position: center center;  // Centra la imagen
  background-attachment: fixed;  // Mantiene el fondo fijo al hacer scroll
  color: #e0e0e0;  // Mantiene el color del texto claro para contraste
  // font-family: 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0;
}

// // Estilos para inputs y botones globales
// input {
//   background-color: $input-bg-dark;
//   color: $text-color-light;
//   border: 1px solid $input-border-dark;
//   padding: 10px;
//   border-radius: 4px;

//   &:focus {
//     outline: none;
//     border-color: $button-bg-dark;
//     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
//   }
// }

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: $border-radius;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: $hover-color;
    transform: translateY(-2px); // Pequeña animación de hover
  }
}